body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background: #f4f6f9;
    overflow: hidden;
    transition:0.4s ease-out;

}
.sidebar{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    overflow: hidden;
    transition:0.4s ease-out;
    width: 220px;
}
.sidebar h2{
    text-align: center;
    margin-bottom: 30px;
}
.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    margin: 20px;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition:0.4s ease-out;
}
.sidebar ul li a:hover{
    background-color: #34495e;
}
.main-content{
    flex-grow: 1;
    padding: 30px;
}
header h1{
    margin-bottom: 30px;
    color: #2c3e50;
}
.cards{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.card{
    flex: 1;
    background-color: rgb(60, 145, 184);
    padding: 20px;
    border-left: 5px solid #3498db;
    box-shadow: 0 0 8px rgba(7, 5, 5, 0.1);
}
.card h3{
    margin: 0 0 10px;
    color: #3498db;
    border-radius:10px;
}
.card h3 a{
    text-decoration: none;
    background: #ededee;
    border-radius:10px;
}
.card h3 a :hover{
    background-color: #3498db;
}
p{
    font-size: 15px;
    color: #3498db;
}
.recent h2{
    margin-bottom: 15px;
}
span{
    display: flex;
    gap: 5px;
    margin-left: 1000px;
    background: transparent;
}
.tables{
    display: flex;
    gap: 30px;
}
.recent,.details{
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.recent h3,.details h3{
    margin-bottom: 15px;
}
.recent ul{
    list-style: none;
}.recent ul li{
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: #ecf0f1;
}
th,td{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
#togglebtn{
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;

}
nav{
    background-color:#2c3e50;
    color:white;
    transition:0.4s ease-out;
    width: 200px;
    height:200px;
}
nav ul{
    list-style-type:none;
    margin:0;
    padding:30px;        
}
nav ul li{
    color:white;
    font-weight:bold;
    font-size:18px
}
nav ul li a{
    background-color:#2c3e50;
    color:white;
    overflow: visible;
    transition:0.4s ease-out;
}

.hide{
    width:0px;
}
aside{
    background-color:#2c3e50;
    overflow: hidden;
    transition:0.4s ease-out;
}